:root {
    /*Primary*/
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-gravish-blue: hsl(227, 10%, 46%);
    /*Neutral*/
    --dark-gray: hsl(0, 0%, 59%);

  }
  body {
      font-size: 18px;
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 400;
  }

  @media only screen and (min-width: 375px) {
    body {
      background-color: lightblue;
    }
  }
  @media only screen and (min-width: 1440px) {
    body {
      background-color: blue;
    }
  }